@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import"./parciales/reset";
@import"./parciales/mixins";
@import"./parciales/Base/Titulos";
@import "./parciales/Base/animaciones";
@import"./parciales/Base/contenido";
@import"./parciales/Layout/footer";


@media screen and (max-width: 425px) {
    section p iframe{
      width: 100%;
      height: auto;
    }
    }

    @media only screen and (max-width: 600px) {
        section p iframe{
            width: 100%;
            height: auto;
          }
      }   