footer {
    width: auto;
    background: #000f08;
    color: #ffffff;
    position: sticky;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    /* border: 2px solid blue; */

    a {
      align-items: center;
    }
  
  }