@import"./Utilities/variables";

section{
p {
    justify-content: center;
    line-height: 140%;
    text-align: justify;
    font-size:$font-texto;
    font-weight: 400;
    font-style: normal;
    width: auto;
  }

  iframe{
    width: auto;
    height: auto;
  }
  
  .listamarca {
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-size: $font-texto;
  }
}