@import"./Utilities/variables";

.row {
    justify-content: center;
  }

div {
    h1{
       font-weight: bold;
       font-size: $tituloH1;
    }
    h2 {
        font-weight: 700;
        font-size: $tituloH2 !important;
        margin: 18px 0px;
        text-align: center;
      }

    h3{
        margin: 18px 0px;
        letter-spacing: 5px;
        text-align: center;
    }
      .titulo {
        color: #464646;
        letter-spacing: 10px;
        align-content: center;
      }
      
  }